body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    display: block;
    margin: auto;
}

body div.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
}

body::after {
    box-sizing: inherit;
}

body::before {
    box-sizing: inherit;
}

div.navbar {
    padding: 16px 16px;
    margin:0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

div.leftbar a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    letter-spacing: 4px;
}

div.rightbar a {
    text-decoration: none;
    background-color: #ffffff;
    color: black;
    padding: 8px 16px;
    letter-spacing: 4px;
}

h1.centertext {
    text-align: center;
    background-image: url(../Foto/foto1.png);
    padding: 200px 64px;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    letter-spacing: 4px;
    font-weight: 500;
    margin: 0px;
    font-size: 36px;
}

div.textmiddle h1.centertext b {
    background-color: rgba(0, 0, 0, 0.753);
    padding: 16px 16px;
    margin-right: 4px;
}
